@font-face {
	font-family: Cinzel;
	src: url("../Fuentes/Cinzel-Regular.otf");
}

.fuente {
	font-family: Cinzel;
}

.celular {
    display: none;
}

@media only screen and (max-width: 600px) {
    .celular {
        display: block;
    }
    .pc {
        display: none;
    }
}