@font-face {
    font-family: Cinzel;
    src: url("../Fuentes/Cinzel-Regular.otf");
}

a {
    text-decoration: none;
}

.fuente {
    font-family: Cinzel;
}

.celular {
    display: none;
}

.inicio {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    min-height: 100vh;
    z-index: 10;
}

.parte {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

.inicio.ocultar {
    transform: translateY(100%);
    transition: 1s;
}

#cuentaAtras {
    width: 100%;
}

.simply-section {
    width: 20%;
    margin-top: 20px;
}

.simply-amount {
    display: block;
    font-size: 3em;
}

.simply-word {
    font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
    .celular {
        display: block;
    }

    .pc {
        display: none;
    }
    .simply-section {
        width: 20%;
        margin-top: 20px;
    }
    
    .simply-amount {
        display: block;
        font-size: 1.5em;
    }
    
    .simply-word {
        font-size: 0.75em;
    }
    
}

.mostrar {
    display: block;
}